* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: fit-content;
}

#display {
    background-color: #222;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 2em;
    padding: 10px;
    text-align: right;
    width: 100%;
    margin-bottom: 10px;
}

.calculator-body {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: start;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 80px);
    gap: 10px;
}

.btn {
    background-color: #f9f9f9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
    padding: 20px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #eee;
}

.btn.operator {
    background-color: #ff9500;
    color: #fff;
}

#sci-toggle {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background: #d4d4d2;
    cursor: pointer;
    font-size: 14px;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.sci-buttons {
    display: none;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 80px);
    gap: 10px;
    align-content: start;
}

.btn.sci {
    background-color: #d4d4d2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
    padding: 20px;
    transition: background-color 0.3s;
    color: #000;
    white-space: nowrap;
}

.btn.sci:hover {
    background-color: #bbbbb9;
}
